body {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5 {
  color: #0b7e85;
  padding-bottom: 15px;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

a {
  color: black;
  text-decoration: underline;
}

button {
  background-color: #0b7e85;
  color: white;
}

.messages {
  margin-left: 0;
}

.message-date {
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}

.timestamp {
  margin-top: 10px;
}

.sender {
  font-weight: bold;
  color: #0b7e85;
}

.message-form {
  padding-top: 25px;
  padding-left: 15px;
}

.label {
  font-size: 10px;
  font-weight: bold;
}

.client-list {
  margin-bottom: 10px;
}

.new-messages {
  background: #0b7e85;
  color: white;
  font-weight: bold;
  font-size: 10px;
  margin-left: 5px;
  padding: 5px;
  border-radius: 3px;
}
